#rectangle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background: #b15026;
}

.title-container {
    position: relative;
    z-index: 1;
}

.title {
    font-size: 100px;
    color: white;
    margin-top: 50px;
    position: relative;
    z-index: 1;
}

#circle {
    position: absolute;
    bottom: -200px;
    left: 0;
    right: 0;
    width: 450px;
    height: 450px;
    margin-right: auto;
    margin-left: auto;
    background: none #b15026;
    border-radius: 50%;
}

#logo {
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
    left: 0;
    right: 0;
    z-index: 1;
}

.section-1 {
    margin-top: 35%;
}