@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;500;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto','Calibri', sans-serif;
}

h1, h2, h3, h4 , h5 {
  text-transform: uppercase;
  font-family: 'Bebas Neue', cursive;
}


.company {
  /* min-height: 500px; */
  height: 100%;
  border-top: 14px solid white;

}

.roof div {
  background-color: rgb(135, 221, 255);
  border : 3px solid #ffffff;
  height: 36px;
}

.company div {
  display: flex;
  justify-content: center;
  align-items: center;
  border : 3px solid #ffffff;
  
}

.tooltip {
  box-shadow: 2px 4px 10px rgba(128, 128, 128,0.2);
}

.fadeOut {
  opacity: 0;
  transition: opacity .8s ease-in-out;
}

.line-camp {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  -webkit-box-orient: vertical;
}